

<nav class="navbar navbar-dark bg-primary">
<%= link_to 'Home', residences_path, class:'nav' %> 
<%= link_to 'Create Post ', new_residence_path, class:'nav' %>
 <%= link_to 'Users', residences_global_path, class:'nav' %>

</nav>

